* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400;

  &.fill {
    font-variation-settings: "FILL" 10;
  }
}

.option-on-hover:hover {
  background-color: #36307577;
}

.modal-backdrop {
  z-index: -1;
}
